%% -*- erlang -*-
%% Config file for bert application
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", "3.0.1"}},
	{exo,  ".*", {git, "git://github.com/Feuerlabs/exo.git",  "1.3"}}
       ]}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["src"]}.
